<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">
<!-- If I need this over all the all beans  -->
<beans default-init-method="myInit" default-destroy-method="myDestroy">
<!-- If I need to make  init and destroying method in the specific Bean I will make that  -->  
    <bean id="parentTraingle" class="com.nadaf.beans.Traingle" abstract="true" init-method="myInit" destroy-method="myDestroy">
        <property name="points" >
            <list>
                <ref bean="pointA"/>
            </list>
        </property>          
    </bean>
    
    <bean  id="traingle1" class="com.nadaf.beans.Traingle" parent="parentTraingle">
        <property name="points">
            <list merge="true">
                <ref bean="pointB"/>
            </list>
        </property>
    </bean>
    
   
    
    <bean id="pointA" class="com.nadaf.beans.Point" >
        <property name="x"  value="${pointA.pointX}"></property> 
        <property name="y"  value="${pointA.pointY}"></property>   
    </bean>
    
    <bean id="pointB"   class="com.nadaf.beans.Point" >  
        <property name="x"  value="0"></property> 
        <property name="y"  value="-20"></property>    
    </bean>
    
    <bean id="pointC" class="com.nadaf.beans.Point" >
        <property name="x"  value="0"></property> 
        <property name="y"  value="20"></property>      
    </bean>
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" >
    <property name="locations" value="config.properties"/>
    </bean>
   
</beans>
<!--for making the alias for the object-->